.header {
  font-family: 'Lato', Helvetica, sans-serif;
  width: 952px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 75px;
  padding-bottom: 75px;

  &__logo {
    display: inline-block;
    vertical-align: middle;
  }

  &__nav {
    display: inline-block;
    width: calc(100% - 159px);
    text-align: right;
    vertical-align: middle;
  }
}